body{
    box-sizing: border-box;
    background-color: #90d5ec;
    background-image: linear-gradient(180deg, #90e6ec 0%, #1f2580 74%);
}
.container{
    display: flex;
}
.input{
    width: 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.education_box{
    margin-top: 20px;
    border-radius: 5px;
}

.output{
    display: flex;
    justify-content: center;
    width: 80%;
}
.output_page {
    width: 85%;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
}
.output_content{
    padding-top: 50px;
    width: 75%;
}
.contactOutput{
    text-align: center;
}
.work_box{
    margin-top: 20px;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 5px;
    cursor: pointer;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.btn_add, .btn_clear_all {
    margin-top: 20px;
}
.btn_clear_all{
    width: 95%;
}
.experienceInput, .educationInput, .contactInput{
    width: 100%;
    border: gray solid 1px;
    border-radius: 5px;
    background-color: #a3b4c8;
}
.experienceInput, .educationInput{
    margin-top: 20px;
}
.contactInput{
    display: flex;
    justify-content: center;
}
.contactInput > div {
    width: 95%;
    margin-bottom: 10px;
}
.educationInput > div {
    width: 95%;
    margin-bottom: 10px;
}
.educationInput{
    display: flex;
    justify-content: center;
}
.experienceInput > div {
width: 95%;
    margin-bottom: 10px;
}
.experienceInput{
    display: flex;
    justify-content: center;
}